<footer>
  <div class="footer-inner">
    <div class="container pt-5 pb-3">
      <nav class="d-lg-flex justify-content-between mb-4">
        <ul class="d-flex flex-wrap footer-nav">
          <li class="pe-md-4 pe-lg-5 mb-5 footer-nav__item">
            <p class="font-weight-bold">General</p>
            <ul>
              <li><a href="https://stake.co.jp/en/" target="_blank" rel="noopener noreferrer">About</a>
              </li>
              <li><a href="https://stake.co.jp/en/contact" target="_blank" rel="noopener noreferrer">Contact Us</a>
              </li>
              <li><a href="https://angel.co/company/astar-network" target="_blank" rel="noopener noreferrer">Careers</a>
              </li>
              <li><a href="https://forum.astar.network/" target="_blank" rel="noopener noreferrer">Forum</a></li>
              <li><a href="https://docs.google.com/document/d/1jEbhRfh292TahRMRdeN4z-8MYNU27dCS_vVopV6xQgk/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
              <li><a href="https://docs.google.com/document/d/1gxM0PEzFq7nW5VB11pMcDUaaKxfMz3BjTDtmEem_oo4/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Terms of use</a></li>
              <li><a href="https://docs.google.com/document/d/152Z3d9a3aIU4jJdEltdkmRBx99_t85ytdfsfFwRcGMo/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Cookies Policy</a></li>
            </ul>
          </li>
          <li class="pe-md-4 pe-lg-5 mb-5 footer-nav__item">
            <p class="font-weight-bold">Projects</p>
            <ul>
              <li><a href="https://github.com/AstarNetwork/Astar" target="_blank" rel="noopener noreferrer">Astar Network</a>
              </li>
              <li><a href="<%- app_url %>" target="_blank" rel="noopener noreferrer">Astar
                  Portal</a></li>
              <li><a href="https://lockdrop.astar.network/" target="_blank" rel="noopener noreferrer">Plasm
                  Lockdrop</a></li>
              <li><a href="https://docs.astar.network/" target="_blank" rel="noopener noreferrer">Astar
                  Documentation</a></li>
            </ul>
          </li>
          <li class="pe-md-4 pe-lg-5 mb-5 footer-nav__item">
            <p class="font-weight-bold">Community</p>
            <ul>
              <li><a href="<%- twitter_url %>" target="_blank" rel="noopener noreferrer">Twitter</a></li>
              <li><a href="<%- discord_url %>" target="_blank" rel="noopener noreferrer">Discord</a></li>
              <li><a href="<%- telegram_url %>" target="_blank" rel="noopener noreferrer">Telegram</a></li>
              <li><a href="<%- medium_url %>" target="_blank" rel="noopener noreferrer">Medium</a></li>
            </ul>
          </li>
          <li class="pe-md-4 pe-lg-5 mb-5 footer-nav__item">
            <p class="font-weight-bold">Collaboration</p>
            <ul>
              <li><a href="https://www.substrate.io/builders-program/" target="_blank"
                  rel="noopener noreferrer">Substrate Builders Program</a></li>
              <li><a href="https://web3.foundation/grants/" target="_blank" rel="noopener noreferrer">Web3
                  foundation Grants Program</a></li>
              <li><a href="https://github.com/AstarNetwork/growth-program" target="_blank"
                  rel="noopener noreferrer">Astar Growth Program</a></li>
              <li><a href="https://immunefi.com/bounty/astarnetwork" target="_blank"
                rel="noopener noreferrer">Bug Bounty Program</a></li>
            </ul>
          </li>
        </ul>
        <ul class="d-flex social-nav mb-5">
          <li>
            <a href="<%- twitter_url %>" target="_blank" rel="noopener noreferrer">
              <svg class="icon">
                <use xlink:href="#icon-twitter"></use>
              </svg>
              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a href="<%- discord_url %>" target="_blank" rel="noopener noreferrer">
              <svg class="icon">
                <use xlink:href="#icon-discord"></use>
              </svg>
              <span>Discord</span>
            </a>
          </li>
          <li>
            <a href="<%- telegram_url %>" target="_blank" rel="noopener noreferrer">
              <svg class="icon">
                <use xlink:href="#icon-telegram"></use>
              </svg>
              <span>Telegram</span>
            </a>
          </li>
          <li>
            <a href="<%- medium_url %>" target="_blank" rel="noopener noreferrer">
              <svg class="icon">
                <use xlink:href="#icon-medium"></use>
              </svg>
              <span>Medium</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/AstarNetwork" target="_blank" rel="noopener noreferrer">
              <svg class="icon">
                <use xlink:href="#icon-github"></use>
              </svg>
              <span>Github</span>
            </a>
          </li>
        </ul>
      </nav>
      <p class="copyright">
        <img src="<%- path %>images/brand-logo-mark.png" alt="<%- title %>" class="brand-logo__mark me-2"
          loading="lazy">
        © 2022 <%- title %>. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>

<script>
  // Hamburger nav for mobile/tablet
  var hamburgerBtn = document.querySelector('.hamburger-button');
  hamburgerBtn.onclick = function () {
    document.querySelector('body').classList.toggle("is-open");
  }
</script>

<script src="<%- path %>js/modernizr-webp.js"></script>