<!doctype html>
<html lang="en">

<% const title="Plasm Network" %>
  <% const tagline="Multi Chain dApps Hub on Polkadot" %>
    <% const url="https://www.plasmnet.io" %>
      <% const
        description="Plasm Network is a multi chain and a multi virtual machine dApps platform powered by Polkadot." %>
        <% const image="https://www.plasmnet.io/images/card-image.jpg" %>

          <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="robots" content="index, follow">

            <!-- Bootstrapped CSS -->
            <link href="css/style.css" rel="stylesheet">

            <title>
              <%= title %> - <%= tagline %>
            </title>
            <meta name="description" content="<%= description %>">

            <!-- Open Graph Tags -->
            <meta property="og:title" content="<%= title %> - <%= tagline %>" />
            <meta property="og:type" content="website" />
            <meta property="og:image" content="<%= image %>" />
            <meta property="og:description" content="<%= description %>" />
            <meta property="og:locale" content="en-US" />
            <meta property="og:site_name" content="<%= title %>" />
            <meta property="og:url" content="<%= url %>" />

            <!-- Twitter Cards -->
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@Plasm_Network">
            <meta name="twitter:title" content="<%= title %> - <%= tagline %>">
            <meta name="twitter:description" content="<%= description %>">
            <meta name="twitter:image" content="<%= image %>">
            <meta property="twitter:url" content="<%= url %>" />
            <meta name="twitter:creator" content="@Plasm_Network">

            <!-- Favicon -->
            <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
            <link rel="manifest" href="images/favicon/site.webmanifest">
            <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5928b1">
            <meta name="msapplication-TileColor" content="#000000">
            <meta name="theme-color" content="#000000">
          </head>

          <body>
            <%- include('_svg-defs'); %>

              <header class="container">

                <div class="d-flex flex-wrap justify-content-between align-items-center py-3">

                  <div class="d-flex align-items-center">
                    <div class="plasm-logo__container">
                      <span class="plasm-logo d-block">
                        <img src="images/plasm-logo-mark.png" alt="Plasm Network" class="plasm-logo__mark">
                        <svg class="plasm-logo__type">
                          <use xlink:href="#plasm-logo-type"></use>
                        </svg>
                      </span>
                      <span class="plasm-logo__title d-block">
                        <%= title %>
                      </span>
                    </div>
                  </div>

                  <ul class="nav d-none d-lg-flex">
                    <li class="nav-item"><a href="https://shiden.plasmnet.io/" class="nav-link">Shiden Network</a></li>
                    <li class="nav-item"><a href="https://docs.plasmnet.io/" target="_blank" rel="noopener noreferrer"
                        class="nav-link">Docs</a>
                    </li>
                    <li class="nav-item"><a href="https://forum.plasmnet.io/" target="_blank" rel="noopener noreferrer"
                        class="nav-link">Governance</a>
                    </li>
                    <li class="nav-item">
                      <div class="dropdown nav-link">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Community
                        </a>
                        <ul class="dropdown-menu m-0" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="https://twitter.com/Plasm_Network" target="_blank"
                              rel="noopener noreferrer">Twitter</a></li>
                          <li><a class="dropdown-item" href="https://discord.gg/Z3nC9U4" target="_blank"
                              rel="noopener noreferrer">Discord</a>
                          </li>
                          <li><a class="dropdown-item" href="https://t.me/PlasmOfficial" target="_blank"
                              rel="noopener noreferrer">Telegram</a></li>
                          <li><a class="dropdown-item" href="https://medium.com/plasm-network" target="_blank"
                              rel="noopener noreferrer">Medium</a>
                          </li>
                          <li><a class="dropdown-item"
                              href="https://github.com/PlasmNetwork/plasmdocs/blob/master/wp/en.pdf" target="_blank"
                              rel="noopener noreferrer">Whitepaper</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a href="https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Frpc.dusty.plasmnet.io%2F#/explorer"
                        target="_blank" rel="noopener noreferrer" class="btn btn-gradiant">
                        Go to App
                        <svg class="icon">
                          <use xlink:href="#icon-arrow-top-right"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>

                  <div class="d-lg-none mr-1">
                    <button class="hamburger-button">
                      <span>Nav Button</span>
                    </button>
                    <div class="nav-mobile">
                      <div class="nav-mobile__inner d-flex align-items-center justify-content-center">
                        <ul>
                          <li class="nav-item"><a href="https://shiden.plasmnet.io/" class="nav-link">Shiden Network</a>
                          </li>
                          <li class="nav-item"><a href="https://docs.plasmnet.io/" target="_blank"
                              rel="noopener noreferrer" class="nav-link">Docs</a>
                          </li>
                          <li class="nav-item"><a href="https://forum.plasmnet.io/" target="_blank"
                              rel="noopener noreferrer" class="nav-link">Governance</a>
                          </li>
                          <li class="nav-item">
                            <p class="nav-link m-0">Community</p>
                            <ul class="ml-3 mb-4 community">
                              <li class="nav-item"><a href="https://twitter.com/Plasm_Network" target="_blank"
                                  rel="noopener noreferrer" class="nav-link">Twitter</a></li>
                              <li class="nav-item"><a href="https://discord.gg/Z3nC9U4" target="_blank"
                                  rel="noopener noreferrer" class="nav-link">Discord</a>
                              </li>
                              <li class="nav-item"><a href="https://t.me/PlasmOfficial" target="_blank"
                                  rel="noopener noreferrer" class="nav-link">Telegram</a></li>
                              <li class="nav-item"><a href="https://medium.com/plasm-network" target="_blank"
                                  rel="noopener noreferrer" class="nav-link">Medium</a>
                              </li>
                              <li class="nav-item"><a
                                  href="https://github.com/PlasmNetwork/plasmdocs/blob/master/wp/en.pdf" target="_blank"
                                  rel="noopener noreferrer" class="nav-link">Whitepaper</a>
                              </li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a href="https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Frpc.dusty.plasmnet.io%2F#/explorer"
                              target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-light px-5">
                              Go to App
                              <svg class="icon">
                                <use xlink:href="#icon-arrow-top-right"></use>
                              </svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </header>

              <section id="hero" class="d-flex align-items-center">
                <div class="container">
                  <div class="hero-inner text-center w-100">
                    <h1>Multi Chain dApps <br class="d-none d-sm-block">Hub on Polkadot</h1>
                    <p class="my-4 my-md-5">Plasm Network is a multi chain and a multi virtual machine dApps platform
                      powered by Polkadot.
                    </p>
                    <a href="https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Frpc.dusty.plasmnet.io%2F#/explorer"
                      target="_blank" rel="noopener noreferrer" class="btn btn-gradiant btn-lg">
                      Use App
                      <svg class="icon">
                        <use xlink:href="#icon-arrow-top-right"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </section>

              <div id="support" class="d-flex align-items-center">
                <div class="container d-lg-flex justify-content-center align-items-center">
                  <div class="support-info mb-5 mb-lg-0">
                    <h2 class="mb-3">Building the premier multi chain smart contract hub supporting:</h2>
                    <ul class="d-flex justify-content-center">
                      <li><span>DeFi</span></li>
                      <li><span>NFTs</span></li>
                      <li><span>DAO</span></li>
                    </ul>
                    <div class="support-btn mt-4 text-center text-lg-left">
                      <a href="https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Frpc.dusty.plasmnet.io%2F#/explorer"
                        target="_blank" rel="noopener noreferrer" class="btn btn-gradiant btn-lg mr-2">
                        Go to App
                        <svg class="icon">
                          <use xlink:href="#icon-arrow-top-right"></use>
                        </svg>
                      </a>
                      <a href="https://docs.plasmnet.io/" target="_blank" rel="noopener noreferrer"
                        class="btn btn-outline-gradiant btn-lg">
                        Docs
                        <svg class="icon">
                          <use xlink:href="#icon-arrow-top-right"></use>
                        </svg>
                      </a>
                    </div>
                  </div><!-- .support-info -->
                  <div class="support-status text-center text-lg-left">
                    <dl>
                      <dd>150K<span class="plus">+</span><span class="eth">ETH</span></dd>
                      <dt>TVL Through Lockdrops</dt>
                    </dl>
                    <div class="d-sm-flex d-lg-block justify-content-center">
                      <dl class="mr-sm-5 mr-lg-0">
                        <dd>10K<span class="plus">+</span></dd>
                        <dt>Community Members</dt>
                      </dl>
                      <dl>
                        <dd>40<span class="plus">+</span></dd>
                        <dt>Ecosystem Projects</dt>
                      </dl>
                    </div>
                  </div>
                </div><!-- .container -->
              </div><!-- #support -->

              <div id="multi-chain">
                <div class="container">
                  <h2>The Heart of <br>the Multi Chain Future
                  </h2>
                  <div class="multi-chain__inner">
                    <p class="pt-4">Plasm Network is a gateway to the multi chain future. We connect multiple layer1
                      blockchains to
                      Polkadot through Plasm Network.</p>
                    <div class="multi-chain__image pt-md-5 pt-lg-0 text-right">
                      <img src="images/multi-chain-image.jpg" alt="The Heart of the Multi Chain Future" loading="lazy">
                    </div>
                  </div>
                </div><!-- .container -->
              </div><!-- #multi-chain -->

              <div id="key-feature">
                <div class="container">
                  <div class="dapps-staking mb-4 mb-sm-0">
                    <div class="key-feature-image text-center"><img src="images/dapps-staking-image.png"></div>
                    <div class="p-4">
                      <h3>dApps Staking</h3>
                      <p>Earn PLM token by making smart contracts.</p>
                    </div>
                  </div>
                  <div
                    class="multi-virtul-machine d-sm-flex align-items-center mb-4 mb-sm-0 py-4 px-4 py-sm-4 px-sm-0 py-lg-0 px-lg-0">
                    <div class="key-feature-image text-center text-sm-left mb-3 mb-sm-0"><img
                        src="images/multi-virtul-machine-image.png"></div>
                    <div class="key-feature-text">
                      <h3>Multi Virtual Machine</h3>
                      <p class="mb-0">Plasm natively supports Ethereum Virtual Machine and WebAssembly.</p>
                    </div>
                  </div>
                  <div class="layer2 d-sm-flex align-items-center p-4 p-sm-0">
                    <div class="key-feature-image text-center text-sm-left mb-3 mb-sm-0"><img
                        src="images/layer2-image.png"></div>
                    <div class="key-feature-text">
                      <h3>Layer2</h3>
                      <p class="mb-0">Supporting rollups.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div id="potal">
                <div class="container">
                  <h2 class="text-center mb-3 mb-sm-5"><span>Plasm Network Portal</span></h2>
                  <div class="d-lg-flex align-items-center justify-content-center">
                    <nav class="mr-lg-5">
                      <ul class="d-flex d-lg-block justify-content-center">
                        <li>
                          <a href="javascript:rudrSwitchTab('tb_1', 'content_1');" class="tabmenu active" id="tb_1">
                            <svg class="icon">
                              <use xlink:href="#icon-balance"></use>
                            </svg>
                            <span class="d-none d-sm-inline">Balance</span>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:rudrSwitchTab('tb_2', 'content_2');" class="tabmenu" id="tb_2">
                            <svg class="icon">
                              <use xlink:href="#icon-dapps-staking"></use>
                            </svg>
                            <span class="d-none d-sm-inline">dApps
                              Staking</span>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:rudrSwitchTab('tb_3', 'content_3');" class="tabmenu" id="tb_3">
                            <svg class="icon">
                              <use xlink:href="#icon-staking-validators"></use>
                            </svg>
                            <span class="d-none d-sm-inline">Staking</span>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:rudrSwitchTab('tb_4', 'content_4');" class="tabmenu" id="tb_4">
                            <svg class="icon">
                              <use xlink:href="#icon-history"></use>
                            </svg>
                            <span class="d-none d-sm-inline">History</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <div class="portal-capture">
                      <div id="content_1" class="tabcontent">
                        <img src="images/portal-balance.jpg">
                      </div>
                      <div id="content_2" class="tabcontent" style="display:none;">
                        <img src="images/portal-dapps-staking.jpg">
                      </div>
                      <div id="content_3" class="tabcontent" style="display:none;">
                        <img src="images/portal-staking-validators.jpg">
                      </div>
                      <div id="content_4" class="tabcontent" style="display:none;">
                        <img src="images/portal-history.jpg">
                      </div>
                    </div>
                  </div>
                  <div class="text-center mt-5">
                    <a href="https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Frpc.dusty.plasmnet.io%2F#/explorer"
                      target="_blank" rel="noopener noreferrer" class="btn btn-gradiant btn-lg">
                      Use App
                      <svg class="icon">
                        <use xlink:href="#icon-arrow-top-right"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div><!-- #potal -->

              <div id="token">
                <div class="token-inner d-flex align-items-center">
                  <div class="container">
                    <h2 class="text-center mb-5"><span>PLM Token</span></h2>
                    <div class="token-list">

                      <div class="token-item">
                        <div class="token-item__inner px-4 py-5">
                          <div class="token-image text-center mb-4"><img src="images/icon-transaction.svg"></div>
                          <h3 class="mb-3">Transaction</h3>
                          <p>Every on-chain transaction takes fees.</p>
                        </div>
                      </div>

                      <div class="token-item">
                        <div class="token-item__inner px-4 py-5">
                          <div class="token-image text-center mb-4"><img src="images/icon-governance.svg"></div>
                          <h3 class="mb-3">On-Chain Governance</h3>
                          <p>PLM token is used for facilitating the governance activities such as voting and referenda.
                          </p>
                        </div>
                      </div>

                      <div class="token-item">
                        <div class="token-item__inner px-4 py-5">
                          <div class="token-image text-center mb-4"><img src="images/icon-staking.svg"></div>
                          <h3 class="mb-3">Staking</h3>
                          <p>PLM token holders can stake PLM tokens on dApps as well as network. By doing so, the staker
                            can earn PLM tokens</p>
                        </div>
                      </div>

                      <div class="token-item">
                        <div class="token-item__inner px-4 py-5">
                          <div class="token-image text-center mb-4"><img src="images/icon-layer2.svg"></div>
                          <h3 class="mb-3">Layer2</h3>
                          <p>Layer2 application developers make a deposit on their layer1 smart contract and create
                            layer2 applications.</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <section id="press">
                <div class="container">
                  <h2 class="text-center mb-5">In the Press</h2>
                  <ul class="logo-list">
                    <li>
                      <a href="https://www.chainnews.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-chainnews.png" alt="链闻 ChainNews - 区块链新闻快讯资讯信息服务平台" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://cointelegraph.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-cointelegraph.png" alt="Cointelegraph Bitcoin & Ethereum Blockchain News"
                          loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.forbes.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-forbes.png" alt="Forbes" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://techcrunch.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-techcrunch.png" alt="TechCrunch – Startup and Technology News"
                          loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.theblockcrypto.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-the-block.png"
                          alt="The Block - The first and final word in digital assets" loading="lazy">
                      </a>
                    </li>
                  </ul>
                </div>
              </section>

              <section id="backers">
                <div class="container">
                  <h2 class="text-center mb-5">Backers</h2>
                  <ul class="logo-list">
                    <li>
                      <a href="https://labs.binance.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-binance.png" alt="Binance Labs" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://hypersphere.ventures/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-hypersphere.png" alt="Hypersphere Ventures" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.fenbushi.vc/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-fenbushi.png" alt="Fenbushi Capital" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.hashkeycap.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-hashkey.png" alt="Hashkey Capital" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.dfg.group/investment" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-dfg.png" alt="DFG" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.longhashventures.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-longhash.png" alt="LongHash Ventures" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <img src="images/logo-blockdreamfund.png" alt="Block Dream Fund" loading="lazy">
                    </li>
                    <li>
                      <a href="https://www.gumi-cryptos.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-gumicryptos.png" alt="gumi Cryptos" loading="lazy">
                      </a>
                    </li>
                    <!-- <li>
                      <a href="https://www.polkaworld.org/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-polkaworld.png" alt="PolkaWorld" loading="lazy">
                      </a>
                    </li> -->
                    <li>
                      <img src="images/logo-sub0capital.png" alt="Sub0 Capital" loading="lazy">
                    </li>
                    <li>
                      <img src="images/logo-digitalstrategies.png" alt="Digital Strategies" loading="lazy">
                    </li>
                    <li>
                      <a href="https://www.altonomy.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-altonomy.png" alt="Altonomy" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://au21.capital/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-au21capital.png" alt="AU21 Capital" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://trgc.io/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-trgcapital.png" alt="TRG Capital" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://snzholding.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-snz.png" alt="SNZ" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://iosg.vc/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-iosgventres.png" alt="IOSG Ventures" loading="lazy">
                      </a>
                    </li>
                  </ul>
                </div>
              </section>

              <section id="supporters">
                <div class="container">
                  <h2 class="text-center mb-5">Supporters</h2>
                  <ul class="logo-list">
                    <li>
                      <a href="https://startups.microsoft.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-microsoft.png" alt="Microsoft for Startups" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.substrate.io/builders-program/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-substrate.png" alt="Substrate Builders Program" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://web3.foundation/grants/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-web3.png" alt="Web3 Foundation Grants Program" loading="lazy">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.xcelerator.berkeley.edu/" target="_blank" rel="noopener noreferrer">
                        <img src="images/logo-xcelerator.png" alt="The Berkeley Blockchain Xcelerator" loading="lazy">
                      </a>
                    </li>
                  </ul>
                </div>
              </section>

              <footer>
                <div class="footer-inner">
                  <div class="container pt-5 pb-3">

                    <nav class="d-lg-flex justify-content-between mb-4">
                      <ul class="d-flex flex-wrap footer-nav">
                        <li class="pr-md-4 pr-lg-5 mb-5 footer-nav__item">
                          <p class="font-weight-bold">General</p>
                          <ul>
                            <li><a href="https://stake.co.jp/en/" target="_blank" rel="noopener noreferrer">About</a>
                            </li>
                            <li><a href="https://stake.co.jp/en/contact" target="_blank"
                                rel="noopener noreferrer">Contact Us</a></li>
                            <li><a href="https://stake.co.jp/en/career" target="_blank"
                                rel="noopener noreferrer">Careers</a></li>
                          </ul>
                        </li>
                        <li class="pr-md-4 pr-lg-5 mb-5 footer-nav__item">
                          <p class="font-weight-bold">Repositories</p>
                          <ul>
                            <li><a href="https://github.com/PlasmNetwork/Plasm" target="_blank"
                                rel="noopener noreferrer">Plasm</a></li>
                            <li><a href="https://github.com/staketechnologies/apps" target="_blank"
                                rel="noopener noreferrer">Plasm Portal Sites</a></li>
                            <li><a href="https://github.com/PlasmNetwork/lockdrop-ui" target="_blank"
                                rel="noopener noreferrer">Plasm Lockdrop</a></li>
                            <li><a href="https://plasmnet.io/" target="_blank" rel="noopener noreferrer">Plasm
                                Documentation</a></li>
                            <li><a href="https://github.com/PlasmNetwork/plasmnet.io" target="_blank"
                                rel="noopener noreferrer">Plasm Homepage</a></li>
                          </ul>
                        </li>
                        <li class="pr-md-4 pr-lg-5 mb-5 footer-nav__item">
                          <p class="font-weight-bold">Community</p>
                          <ul>
                            <li><a href="https://twitter.com/Plasm_Network" target="_blank"
                                rel="noopener noreferrer">Twitter</a></li>
                            <li><a href="https://discord.gg/Z3nC9U4" target="_blank"
                                rel="noopener noreferrer">Discord</a></li>
                            <li><a href="https://t.me/PlasmOfficial" target="_blank"
                                rel="noopener noreferrer">Telegram</a></li>
                            <li><a href="https://medium.com/plasm-network" target="_blank"
                                rel="noopener noreferrer">Medium</a></li>
                            <li><a href="https://github.com/PlasmNetwork/plasmdocs/blob/master/wp/en.pdf"
                                target="_blank" rel="noopener noreferrer">Whitepaper</a></li>
                          </ul>
                        </li>
                        <li class="pr-md-4 pr-lg-5 mb-5 footer-nav__item">
                          <p class="font-weight-bold">Collaboration</p>
                          <ul>
                            <li><a href="https://www.substrate.io/builders-program/" target="_blank"
                                rel="noopener noreferrer">Substrate Builders Program</a></li>
                            <li><a href="https://web3.foundation/grants/" target="_blank" rel="noopener noreferrer">Web3
                                foundation Grants Program</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="d-flex social-nav mb-5">
                        <li>
                          <a href="https://twitter.com/Plasm_Network" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-twitter"></use>
                            </svg>
                            <span>Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://discord.gg/Z3nC9U4" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-discord"></use>
                            </svg>
                            <span>Discord</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://t.me/PlasmOfficial" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-telegram"></use>
                            </svg>
                            <span>Telegram</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://medium.com/plasm-network" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-medium"></use>
                            </svg>
                            <span>Medium</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://github.com/PlasmNetwork/Plasm" target="_blank" rel="noopener noreferrer">
                            <svg class="icon">
                              <use xlink:href="#icon-github"></use>
                            </svg>
                            <span>Github</span>
                          </a>
                        </li>
                      </ul>
                    </nav>

                    <p class="copyright">
                      <img src="images/plasm-logo-mark.png" alt="Plasm Network" class="plasm-logo__mark mr-2">
                      © 2021 Plasm Network. All Rights Reserved.
                    </p>
                  </div>
                </div>
              </footer>

              <script>
                // Hamburger nav for mobile/tablet
                var hamburgerBtn = document.querySelector('.hamburger-button');
                hamburgerBtn.onclick = function () {
                  document.querySelector('body').classList.toggle("is-open");
                }
              </script>

              <script>
                // Image fade effect
                window.addEventListener('scroll', function () {
                  var fadeElements = document.querySelectorAll('.effect-fade');
                  fadeElements.forEach(function (elem) {
                    var elemPos = elem.offsetTop;
                    var scroll = window.pageYOffset;
                    var windowHeight = window.innerHeight;
                    if (scroll > elemPos - windowHeight / 1.5) {
                      elem.classList.add('effect-scroll');
                    }
                  });
                });
              </script>

              <script>
                // Plasm portal
                function rudrSwitchTab(rudr_tab_id, rudr_tab_content) {
                  var x = document.getElementsByClassName("tabcontent");
                  var i;
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = 'none';
                  }
                  document.getElementById(rudr_tab_content).style.display = 'block';

                  var x = document.getElementsByClassName("tabmenu");
                  var i;
                  for (i = 0; i < x.length; i++) {
                    x[i].className = 'tabmenu';
                  }
                  document.getElementById(rudr_tab_id).className = 'tabmenu active';
                }
              </script>

              <script src="js/modernizr-webp.js"></script>
          </body>

</html>
